/* nimi (p, body, h2 jne) ja siis {} sees muutus*/
/* kui asjale htmlis class antud koos nimega, siis selle muutmiseks .nimi*/
/* kui nimi ja class (p.test), siis muudab aint paragrahve millel klass test*/
/* ID puhul #ette ja id nimi  */
/* selectorid stiilid saad omavahel siduda p, h2*/
body {
	background-repeat: no-repeat;
	background-size:cover;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	background-attachment: fixed;
	
}
#pealkiri {
	color:OliveDrab;
}
h1
 {color:red;
 text-align: center;
 }
#keha{
		
	text-align:justify;
	max-width: 100%;
	margin-bottom:300px;
}

#sisu {
	position: relative;
    top: 150px;
	clear:both;
	padding: 10px 40px;
	margin-left: 15%;
	margin-right: 15%;


}

#menu {
	background-color: #425563;
	position: fixed;
	min-width:100%;
	max-height:20%;
	z-index:999;
	
}
#menu  li {
	float: left;
	list-style-type: none;
	
}
#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	vertical-align:middle;
}

#menu li a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: black;
	text-decoration: underline;
}



#footer {
	background-color: #425563;
	position: fixed;
	
    padding: 0px;
	min-width:100%;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;  
	clear:both;
	bottom:0;
	color:white;
}

#validator {
	text-align: right;
}

#kontakt p {
	color: white;
}
#menu  a {

	font-size:1em;	
}

a {
	color: black;
}

h1, h2, h3, h4, h5{
	clear:both;

}

h3{
	font-size:2em;	
	color:orange;
}

.pilt {
	width:20%;
	height:20%;
	float:left;
	margin: 10px 10px 0 0;
	
}


#sisu p  {
	font-size: 1em;
	text-align: justify;
	font-style: italic;
	font-weight: 900;
	
}

#sisu p:hover{
	cursor:n-resize;
}

.majapealkiri{
	font-size: 35px;
	color: green;
}

#prev, #next {
	display:block;
	position: fixed;
	top:0px;
	bottom:0px;
	width: 40px;
}
#prev:hover, #next:hover{
	background-color: rgba(255,255,255,0.1);
}

#prev {
	left:0px;
	background: url("thumb/prev.png") center no-repeat;
}
#next {
	right:0px;
	background: url("thumb/next.png") center no-repeat;
}

#galerii2 img {
	width:100%;
	border-radius: 3%;

}

#MinuGalerii img {
	width:15%;
	min-width:150px;
}

#tervitus {
	color:green;
	font-size:large;
}

#alad  img{
	max-width: 100%;
}

#alad {
	max-width: 80%;
	border-style: solid;
    border-width: 5px;
}

#tabelid {
 
}

#tabelid  img{
  max-height: 150px;
  max-width: 150px;
  margin: 10% 0 0 30%;
}

#komments table {
    border-collapse: collapse;
    width: 100%;
}

#komments th, td {
    text-align: left;
    padding: 1em;
}

#komments tr:nth-child(even){background-color: #f2f2f2}

#komments th {
    background-color: #4CAF50;
    color: white;
}

